<%- include('crm/partials/header') %>

<div class="dashboard-container">
    <%- include('crm/partials/sidebar') %>

    <div class="main-content">
        <%- include('crm/partials/generalTopbar') %>
        <hr>

        <% if (message) { %>
            <div class="alert alert-<%= status && status == 'success' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
                <strong>Alert:</strong> <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>

        <div class="container mt-4"> 
            <form id="journalForm" action="/journal/edit" method="POST" enctype="multipart/form-data" class="needs-validation journal-form" novalidate>
                <div class="row">
                    <div class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="title" class="form-label">Journal Title</label>
                        <input type="text" value="<%= journal ? journal.title : '' %>" id="title" name="title" class="form-control title" required> 
                    </div>
                    <div class="mb-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" value="<%= journal ? journal.journal_date : '' %>" id="date" name="date" class="form-control date" required> 
                    </div> 

                    <% if (journal_categories && journal_categories.length > 0) { %> 
                        <div class="mb-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label for="category_id" class="form-label">Category</label>
                            <select id="category_id" name="category_id" class="form-select category_id"> 
                                <% journal_categories.forEach(category => { %>
                                    <option <%= category.id == journal.category_id ? 'selected' : ''  %> value="<%= category.id %>"><%= category.category_name %></option>
                                <% }); %>
                            </select>
                        </div>
                    <% } %> 
                </div>

                <div class="mb-3"> 
                    <textarea id="description" name="description" rows="100" class="form-control description cke_editor" required><%= journal ? journal.description : '' %></textarea> 
                </div>

                <div class="mb-3">
                    <label class="form-label">Attachments (optional)</label>
                    <div id="uploadDiv" class="upload-div upload-div upload-section-area">
                        <i class="bi bi-upload fs-1"></i>
                        <p class="mt-2">Drag & Drop files here or <span class="browse">browse</span></p>
                        <p class="files-list text-center m-4">
                            <% if (journal.attachments && Object.keys(journal.attachments).length) { %>
                                <%= Object.keys(journal.attachments).map(name => `${name}`).join(', ') %>
                            <% } else { %>
                                No attachments available.
                            <% } %>
                        </p>
                        <input type="file" id="attachments" name="attachments" class="form-control attachments" multiple="multiple" hidden="hidden">
                    </div>
                </div>   

                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label d-flex align-items-center justify-content-center gap-3">
                            <input class="form-check-input rm-previous-added-attachments p-4 mr-5" type="checkbox" name="rmPreviousAddedAttachments" id="rmPreviousAddedAttachments" value="1"> Remove Previous Attachments?
                        </label>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label d-flex align-items-center justify-content-center gap-3">
                            <input class="form-check-input stay-here p-4 mr-5" type="checkbox" name="stayHere" id="stayHere" value="1"> Stay On this Page after Submitting?
                        </label>
                    </div>
                </div>    

                <button type="button" class="btn btn-primary w-100 edit-journal-btn" id="editJournalBtn">Save Journal</button>
            </form>
        </div>
    </div> 
</div>

<!-- Scripts -->
<script src="/default/js/src/auth.js?v1"></script>
<script src="/default/js/src/journal.js?v1"></script>

<%- include('crm/partials/footer') %>
