<%- include('partials/header') %>

<div class="dashboard-container">
    <%- include('partials/sidebar') %>

    <div class="main-content">
        <%- include('partials/normalTopbar') %>
        <hr>
        <% if (message) { %>
            <div class="form-group">
                <div class="alert alert-<%= status && status == 'success' ? 'primary' : 'danger' %>" role="alert">
                    <strong>Alert:</strong> <%= message %>
                </div>
            </div>
        <% } %>

        <div class="section-2">
            <div class="stats">
                <a class="stat-box" href="/users">
                    <div>
                        <h3>👥 Users</h3>
                        <p><%= usersCount ? usersCount : 0 %></p>
                    </div>
                </a>
                <a class="stat-box" href="/journal/list">
                    <div>
                        <h3>📚 Journal Entries</h3>
                        <p><%= journalEntriesCount ? journalEntriesCount : 0 %></p>
                    </div>
                </a>
                <a class="stat-box" href="#">
                    <div>
                        <h3>🖼️ Gallery Photos</h3>
                        <p><%= galleryPhotosCount ? galleryPhotosCount : 0 %></p>
                    </div>
                </a>
                <a class="stat-box" href="#">
                    <div>
                        <h3>📇 Contacts</h3>
                        <p><%= contactssCount ? contactssCount : 0 %></p>
                    </div>
                </a>
                <a class="stat-box" href="#">
                    <div>
                        <h3>💬 Messages</h3>
                        <p><%= messagessCount ? messagessCount : 0 %></p>
                    </div> 
                </a>
                <a class="stat-box" href="#">
                    <div>
                        <h3>💾 Backups</h3>
                        <p><%= backupsCount ? backupsCount : 0 %></p>
                    </div> 
                </a> 
            </div> 
            
            <div class="visuals d-flex mb-3 mt-5">
                <div class="pie-chart-visual col-md-6">
                    <div class="header">
                        <h3 class="font-weight-bold"><i class="fa fa-pie-chart" aria-hidden="true"></i> Pie-Chart Distribution</h3>
                    </div>
                    <hr>
                    <div class="visual-rep-1 m-3" id="visual-rep-1"> 
                        <!--  -->
                    </div>
                </div>
                <div class="barchart-visual col-md-6">
                    <div class="header">
                        <h3 class="font-weight-bold"><i class="fa fa-bar-chart" aria-hidden="true"></i> Bar-Chat Distribution</h3>
                    </div>
                    <hr>
                    <div class="visual-rep-2" id="visual-rep-2"> 
                        <!--  -->
                    </div>
                </div>
            </div>

            <div class="journal-entries mt-5">
                <div class="d-flex mb-3"> 
                    <div class="header col-md-8">
                        <h3 class="font-weight-bold">Journal Entries List</h3>
                    </div>
                    <div class="ms-auto">
                        <a type="button" class="btn btn-primary btn-sm float right" href="/journal/create">
                            Add journal
                        </a>
                    </div>
                </div>
                <hr>
                <div class="table-responsive mt-4">
                    <%- include('crm/partials/others/journals-table') %>
                </div> 
            </div> 
        </div>
    </div> 
</div>

<!-- modal -->
<div class="modal fade preview-journal-modal" id="previewJournalModal" tabindex="-1" aria-labelledby="previewJournalModalLabel" aria-hidden="true"></div>
<!-- /modal -->

<!-- scripts -->
<script src="/default/js/src/auth.js?v1"></script>
<script src="/default/js/src/journal.js?v1"></script>
<script src="/default/js/src/dboard.js?v1"></script>
<!-- /scripts -->

<%- include('partials/footer') %>
